In [31]:
import pandas as pd

In [32]:
df = pd.read_csv("vgsales.csv")

In [33]:
print(df.head(3))

   Rank               Name Platform    Year     Genre Publisher  NA_Sales  \
0     1         Wii Sports      Wii  2006.0    Sports  Nintendo     41.49
1     2  Super Mario Bros.      NES  1985.0  Platform  Nintendo     29.08
2     3     Mario Kart Wii      Wii  2008.0    Racing  Nintendo     15.85

   EU_Sales  JP_Sales  Other_Sales  Global_Sales
0     29.02      3.77         8.46         82.74
1      3.58      6.81         0.77         40.24
2     12.88      3.79         3.31         35.82

In [34]:
df.info() # info on the cols and data types
df.shape # x, y

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

(16598, 11)

In [35]:
df.describe # description

<bound method NDFrame.describe of         Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]>

In [36]:
df.isna().sum() # View total null values in each columns
df = df.dropna()
df.isna().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [37]:
df = df.dropna()
df.isna().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [39]:
df.dropna() # Drop all rows with null values

latestYear = df["Year"].max()
firstYear =  df["Year"].min()

groupYears = [1980, 1990, 2000, 2010, 2020, 2030]
labels = ["80s", "90s", "2000s", "2010s", "2020s"]
df["Year Group"] = pd.cut(df["Year"], bins = groupYears, labels = labels, right = False)

print("=== Relase Year info ====")
print(f"Latest release year: {latestYear} \nFirst year Release: {firstYear}")
print(df["Year Group"].unique())


genres = df["Genre"].value_counts()
print("=== All Unique Genres ===")
print(genres)

maxNASales = df["NA_Sales"].max()
maxEUSales = df["EU_Sales"].max()
maxJPSales = df["JP_Sales"].max()
maxOtherSales = df["Other_Sales"].max()

print("=== Top Revenue by Region ===")
print(f"NA : {maxNASales}" + f"\nEU: {maxEUSales}" + f"\nJP: {maxJPSales}" + f"\nOther Regions: {maxOtherSales}")

platforms = df["Platform"].unique()
print("=== Unique Platforms ===")
print(platforms)

=== Relase Year info ====
Latest release year: 2020.0
First year Release: 1980.0
['2000s', '80s', '90s', '2010s', '2020s']
Categories (5, object): ['80s' < '90s' < '2000s' < '2010s' < '2020s']
=== All Unique Genres ===
Genre
Action          3251
Sports          2304
Misc            1686
Role-Playing    1470
Shooter         1282
Adventure       1274
Racing          1225
Platform         875
Simulation       848
Fighting         836
Strategy         670
Puzzle           570
Name: count, dtype: int64
=== Top Revenue by Region ===
NA : 41.49
EU: 29.02
JP: 10.22
Other Regions: 10.57
=== Unique Platforms ===
['Wii' 'NES' 'GB' 'DS' 'X360' 'PS3' 'PS2' 'SNES' 'GBA' '3DS' 'PS4' 'N64'
 'PS' 'XB' 'PC' '2600' 'PSP' 'XOne' 'GC' 'WiiU' 'GEN' 'DC' 'PSV' 'SAT'
 'SCD' 'WS' 'NG' 'TG16' '3DO' 'GG' 'PCFX']